body { 
  background: url(http://cdn1.thr.com/sites/default/files/2012/11/movie_theater_interior_a_l.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.jumbotron
{

	background:transparent;
}
h2
{
	color:#55c60b;
}
.jumbotron h1
{
	color:#55c60b;
	font-weight:bold;
}
